<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = ""
        xmlns:gap   = ""
        id          = "com.warren.dodgeball"
        versionCode = "001" 
        version     = "0.0.1" >

    <!-- versionCode is optional and Android only -->

    <name>Dodgeball</name>

    <description>
        My first shitty android game from a few years ago
    </description>

    <author href="www.facebook.com/warren.hood.750" email="nullbyte001@gmail.com">
        Warren Hood
    </author>
	<preference name="DisallowOverscroll" value="true" />
 <preference name="orientation" value="landscape" />
  <preference name="fullscreen" value="true" />
  <preference name='uiwebviewbounce' value='false' />
  <icon src='icon.png' height='50' width='50'/>
</widget>